<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>node服务器</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header container">
            <h1> node发言台</h1>
            <a class="btn btn-success" href="post">发表留言</a>
        </div>

        <ul class="list-group">
            {{each comments}}
            <li class="list-group-item">{{ $value.name }}:   {{ $value.message }}<span
                    class="pull-right">{{ $value.dateTime }}</span></li>
            {{/each}}
        </ul>


    </div>

</body>

</html>